<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code Generator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">Code Generator</h1>
            <form th:action="@{/generate}" method="post" th:object="${codeForm}">
                <div class="form-group">
                    <label for="databaseType">Database Type:</label>
                    <select id="databaseType" th:field="*{databaseType}" class="form-control" required>
                        <option th:each="type : ${T(com.smartjava.app.form.DatabaseType).values()}" 
                                th:value="${type}" 
                                th:text="${type.displayName}"></option>
                    </select>
                </div>
                <!-- <div class="form-group">
                    <label>Database Field:</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="COMPASS_AWS_XXRPT" name="databaseField" th:field="*{dbFromDataSource}" value="compaws">
                        <label class="form-check-label" for="COMPASS_AWS_XXRPT">COMPASS_AWS_XXRPT</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="COMPASS_DEV_XXRPT" name="databaseField" th:field="*{dbFromDataSource}" value="compaws">
                        <label class="form-check-label" for="COMPASS_DEV_XXRPT">COMPASS_DEV_XXRPT</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="RTMONGOOSE_DEV_XXAAS" name="databaseField" th:field="*{dbFromDataSource}" value="rtmong">
                        <label class="form-check-label" for="RTMONGOOSE_DEV_XXAAS">RTMONGOOSE_DEV_XXAAS</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="LOCAL_DB" name="databaseField" th:field="*{dbFromDataSource}" value="LOCAL_DB">
                        <label class="form-check-label" for="LOCAL_DB">LOCAL_DB</label>
                    </div>
               </div> 
                <div class="text-center"><h1>OR</h1></div>-->
                <div class="form-group">
                    <label for="dbProperties">Database Properties:</label>
                    <textarea id="dbProperties" th:field="*{dbProperties}" class="form-control" rows="4" placeholder="Enter database properties in key=value format"></textarea>
                </div>
                <div class="form-group">
                    <label for="tableName">Table Name:</label>
                    <input type="text" id="tableName" th:field="*{tableName}" class="form-control" placeholder="Enter the table name" required>
                </div>
                <div class="form-group">
                    <label for="sequenceName">Sequence Name:</label>
                    <input type="text" id="sequenceName" th:field="*{sequenceName}" class="form-control" placeholder="Enter the sequence name">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Generate Code</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
